In [1]:
import pandas as pd

In [4]:
# sample data

data={
    'CostmorID': ["C001","C002","C003","C004","C005","C006","C007","C008"],
    'Education_Level':["High School","Bachelors","Masters","PhD","Bachelors","High School","Masters","PhD"],
    'Product_Quality':["Low","Medium","High","Medium","Low","High","Medium","High"],
    'Satisfaction_Level':["Poor","Average","Excellent","Good","Average","Poor","Good","Excellent"]
}

df=pd.DataFrame(data)

In [5]:
df

  CostmorID Education_Level Product_Quality Satisfaction_Level
0      C001     High School             Low               Poor
1      C002       Bachelors          Medium            Average
2      C003         Masters            High          Excellent
3      C004             PhD          Medium               Good
4      C005       Bachelors             Low            Average
5      C006     High School            High               Poor
6      C007         Masters          Medium               Good
7      C008             PhD            High          Excellent

In [12]:
# Define the order for each ordinal feature

education_order= ["High School","Bachelors","Masters","PhD"]
product_quality_order= ["Low","Medium","High"]
satisfaction_order =["Poor","Average","Good","Excellent"]

In [13]:

from sklearn.preprocessing import OrdinalEncoder

In [14]:
oe = OrdinalEncoder(categories =[education_order,product_quality_order,satisfaction_order])

In [15]:
df[["Education_Level","Product_Quality","Satisfaction_Level"]]=oe.fit_transform(df[["Education_Level","Product_Quality","Satisfaction_Level"]])

In [17]:
df

  CostmorID  Education_Level  Product_Quality  Satisfaction_Level
0      C001              0.0              0.0                 0.0
1      C002              1.0              1.0                 1.0
2      C003              2.0              2.0                 3.0
3      C004              3.0              1.0                 2.0
4      C005              1.0              0.0                 1.0
5      C006              0.0              2.0                 0.0
6      C007              2.0              1.0                 2.0
7      C008              3.0              2.0                 3.0